<%- include('../layouts/header') %>
<%- include('../layouts/sidebar') %>

<div class="content">
  <div class="container mt-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-md-9">
        <h2>User Profile</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item font-weight-bold">Name: <%= userData.name %></li>
          <li class="list-group-item font-weight-bold">Email: <%= userData.email %></li>
          <li class="list-group-item font-weight-bold">Mobile: <%= userData.mobile %></li>
        </ul>
        <div class="d-flex justify-content-between mt-3">
          <a href="/address" class="btn btn-danger">Manage Address</a>
          <a href="/edit-profile" class="btn btn-danger">Edit Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../layouts/footer') %>
